用于查看文件

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
Table_S1_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc1.xlsx'
Table_S2_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc2.xlsx'
Table_S3_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc3.xlsx'
Table_S4_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc4.xlsx'
Table_S5_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc5.xlsx'
Table_S6_path='/work/longyh/BY/raw/1-s2.0-S0092867417311224-mmc6.xlsx'

In [18]:
s1=pd.read_excel(Table_S1_path,header=3)
s2=pd.read_excel(Table_S2_path,header=2)

In [50]:
s3=pd.read_excel(Table_S3_path,header=3)

In [51]:
s4=pd.read_excel(Table_S4_path,header=2)

In [14]:
s5=pd.read_excel(Table_S5_path,header=3)

In [53]:
s6=pd.read_excel(Table_S6_path,header=5)

/home/longyh/miniforge3/envs/py310/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [54]:
s1.head()

,Patient,Type,SAMPLE,TOTAL_READS,MEAN_TARGET_COVERAGE,PCT_TARGET_BASES_20X,PCT_TARGET_BASES_30X,PCT_TARGET_BASES_40X,PCT_TARGET_BASES_50X,PCT_TARGET_BASES_100X,...,ZERO_CVG_TARGETS_PCT,PCT_EXC_DUPE,PCT_EXC_MAPQ,PCT_EXC_BASEQ,PCT_EXC_OVERLAP,PCT_EXC_OFF_TARGET,FOLD_80_BASE_PENALTY,PCT_TARGET_BASES_1X,PCT_TARGET_BASES_2X,PCT_TARGET_BASES_10X
0,Pt89,pre,Pt89_pre,271669520,176.691766,0.951526,0.934820,0.913748,0.888160,0.708807,...,0.014199,0.237561,0.070893,0,0,0.268636,2.355890,0.979040,0.976343,0.965111
1,Pt7,pre,Pt7_pre,321288074,190.198708,0.955221,0.941617,0.924221,0.901765,0.726095,...,0.013653,0.259374,0.064763,0,0,0.291853,2.377484,0.979940,0.977422,0.966836
2,Pt83,pre,Pt83_pre,387826464,204.311557,0.960497,0.950695,0.937541,0.920120,0.770329,...,0.015367,0.312774,0.064023,0,0,0.277068,2.270128,0.978241,0.976169,0.968538
3,Pt84,pre,Pt84_pre,201136770,121.521302,0.936577,0.901871,0.856665,0.803402,0.507277,...,0.015078,0.258692,0.086894,0,0,0.277019,2.430426,0.978031,0.975206,0.960481
4,Pt108,pre,Pt108_pre,285290372,151.211643,0.952663,0.934694,0.909974,0.877982,0.647578,...,0.014685,0.317242,0.078411,0,0,0.272106,2.223701,0.978830,0.976253,0.965900

In [55]:
s2.head()

,Patient,Cohort,Response,Dead/Alive\n(Dead = True),Time to Death\n(weeks),Subtype,Mutational\n Subtype,M Stage,Mutation Load,Neo-antigen Load,Neo-peptide Load,Cytolytic Score
0,Pt1,NIV3-PROG,PD,True,22.857143,CUTANEOUS,NaN,M1C,NaN,NaN,NaN,977.869112
1,Pt10,NIV3-NAIVE,SD,True,36.571429,CUTANEOUS,NF1,M1A,75.0,33.0,56.0,65.840717
2,Pt100,NIV3-PROG,PD,True,120.000000,OTHER,TripleWt,M1C,6.0,5.0,6.0,NaN
3,Pt101,NIV3-PROG,PR,False,119.142857,CUTANEOUS,TripleWt,M1A,10.0,5.0,6.0,1392.142234
4,Pt102,NIV3-NAIVE,SD,False,90.857143,CUTANEOUS,RAS,NaN,393.0,248.0,770.0,NaN

In [56]:
print(s1.columns)
print(s1.shape)

Index(['Patient', 'Type', 'SAMPLE', 'TOTAL_READS', 'MEAN_TARGET_COVERAGE',
       'PCT_TARGET_BASES_20X', 'PCT_TARGET_BASES_30X', 'PCT_TARGET_BASES_40X',
       'PCT_TARGET_BASES_50X', 'PCT_TARGET_BASES_100X', 'PF_READS',
       'PF_UNIQUE_READS', 'PCT_PF_READS', 'PCT_PF_UQ_READS',
       'PF_UQ_READS_ALIGNED', 'PCT_PF_UQ_READS_ALIGNED', 'PF_BASES_ALIGNED',
       'PF_UQ_BASES_ALIGNED', 'ON_BAIT_BASES', 'NEAR_BAIT_BASES',
       'OFF_BAIT_BASES', 'ON_TARGET_BASES', 'PCT_SELECTED_BASES',
       'PCT_OFF_BAIT', 'ON_BAIT_VS_SELECTED', 'MEAN_BAIT_COVERAGE',
       'MEDIAN_TARGET_COVERAGE', 'PCT_USABLE_BASES_ON_BAIT',
       'PCT_USABLE_BASES_ON_TARGET', 'FOLD_ENRICHMENT', 'ZERO_CVG_TARGETS_PCT',
       'PCT_EXC_DUPE', 'PCT_EXC_MAPQ', 'PCT_EXC_BASEQ', 'PCT_EXC_OVERLAP',
       'PCT_EXC_OFF_TARGET', 'FOLD_80_BASE_PENALTY', 'PCT_TARGET_BASES_1X',
       'PCT_TARGET_BASES_2X', 'PCT_TARGET_BASES_10X'],
      dtype='object')
(68, 40)

In [57]:
print(s2.columns)
print(s2.shape)

Index(['Patient', 'Cohort', 'Response', 'Dead/Alive\n(Dead = True)',
       'Time to Death\n(weeks)', 'Subtype', 'Mutational\n Subtype', 'M Stage',
       'Mutation Load', 'Neo-antigen Load', 'Neo-peptide Load',
       'Cytolytic Score'],
      dtype='object')
(73, 12)

In [19]:
s2['Patient'].count()

np.int64(73)

In [20]:
s2['Patient'].to_csv('/work/longyh/BY/processed/s2_patient.txt',index=False,header=False)

In [58]:
s3.head()

,Patient,Hugo Symbol,Chromosome,Start,End,Variant Classification,HGVS_c,HGVS_p,Tcov,Tac,Taf
0,Pt10,MST1L,1,17083776,17083776,missense_variant,c.2021G>T,p.Arg674Leu,232,10,0.043103
1,Pt10,MST1L,1,17083816,17083816,stop_gained,c.1981C>T,p.Arg661*,316,13,0.041139
2,Pt10,NRAS,1,115258748,115258748,missense_variant,c.34G>T,p.Gly12Cys,576,491,0.852431
3,Pt10,DCST2,1,154997000,154997000,missense_variant,c.1690C>T,p.Arg564Trp,340,37,0.108824
4,Pt10,PAPPA2,1,176525744,176525744,missense_variant,c.286A>C,p.Lys96Gln,664,53,0.079819

In [59]:
print(s3.columns)
print(s3.shape)

Index(['Patient', 'Hugo Symbol', 'Chromosome', 'Start', 'End',
       'Variant Classification', 'HGVS_c', 'HGVS_p', 'Tcov', 'Tac', 'Taf'],
      dtype='object')
(28589, 11)

In [60]:
s4.head()

,Patient,Pre-treatment Exome,On-treatment Exome,Pre-treatment TCR-Seq,On-treatment TCR-Seq,Pre-treatment RNA-Seq,On-treatment RNA-Seq
0,Pt1,0,0,0,0,1,1
1,Pt2,0,0,0,0,1,1
2,Pt3,1,1,1,1,1,1
3,Pt4,1,0,0,0,1,1
4,Pt5,1,1,1,1,1,1

In [61]:
print(s4.columns)
print(s4.shape)

Index(['Patient', 'Pre-treatment Exome', 'On-treatment Exome',
       'Pre-treatment TCR-Seq', 'On-treatment TCR-Seq',
       'Pre-treatment RNA-Seq', 'On-treatment RNA-Seq'],
      dtype='object')
(80, 7)

In [62]:
s5.head()

,Patient,Hugo Symbol,WT Peptide,MT Peptide,WT Allele,MT Allele,WT Score,MT Score
0,Pt10,PAPPA2,KPDTEGNAV,QPDTEGNAV,C0501,C0501,0.4,0.6
1,Pt10,CEP350,SSDMQACSQ,SSDMQACSK,C0501,C0501,1.8,1.7
2,Pt10,MCM10,LLEENESAL,LLEENDSAL,C0501,C0501,0.9,0.9
3,Pt10,MCM10,ALLEENESA,ALLEENDSA,A0201,A0201,1.0,1.3
4,Pt10,TAS2R19,KLKQTFLSV,KLKQTSLSV,A0201,A0201,1.6,2.0

In [63]:
print(s5.columns)
print(s5.shape)

Index(['Patient', 'Hugo Symbol', 'WT Peptide', 'MT Peptide', 'WT Allele',
       'MT Allele', 'WT Score', 'MT Score'],
      dtype='object')
(41477, 8)

In [16]:
s5['WT Score'].describe()

count    41477.000000
mean         3.389601
std          5.862497
min          0.000000
25%          0.600000
50%          1.500000
75%          3.500000
max         99.000000
Name: WT Score, dtype: float64

In [17]:
s5['MT Score'].describe()

count    41477.000000
mean         0.988446
std          0.596910
min          0.010000
25%          0.500000
50%          1.000000
75%          1.500000
max          2.000000
Name: MT Score, dtype: float64

In [64]:
s6.head()

    symbol    baseMean  log2 Fold Change     lfcSE        pvalue      padj
0     MLC1   78.398692          1.416447  0.271817  1.877920e-07  0.001979
1   UBAP1L  105.485001          1.282031  0.250956  3.245789e-07  0.001979
2  PCDH11X   33.214423          1.300830  0.259848  5.554062e-07  0.003900
3  CLEC17A   31.999927          1.307895  0.269309  1.194840e-06  0.003900
4    P2RX5   98.501526          1.286445  0.267743  1.549244e-06  0.003900

In [65]:
print(s6.columns)
print(s6.shape)

Index(['symbol', 'baseMean', 'log2 Fold Change', 'lfcSE', 'pvalue', 'padj'], dtype='object')
(189, 6)

检查netMHCpan生成的结果文件

In [5]:
wt=pd.read_csv('/work/longyh/BY/processed/wt_results.xls',sep='\t',header=1)
mt=pd.read_csv('/work/longyh/BY/processed/mt_results.xls',sep='\t',header=1)

In [6]:
print(wt.columns)
print(wt.shape)

Index(['Pos', 'Peptide', 'ID', 'core', 'icore', 'EL-score', 'EL_Rank',
       'BA-score', 'BA_Rank', 'Ave', 'NB'],
      dtype='object')
(41456, 11)

In [8]:
wt['BA-score'].describe()

count    41456.000000
mean         0.155376
std          0.198865
min          0.002300
25%          0.032300
50%          0.067700
75%          0.180100
max          0.958100
Name: BA-score, dtype: float64

In [10]:
wt['EL-score'].describe()

count    41456.000000
mean         0.064201
std          0.180872
min          0.000000
25%          0.000100
50%          0.000900
75%          0.011400
max          0.997400
Name: EL-score, dtype: float64

In [7]:
print(mt.columns)
print(mt.shape)

Index(['Pos', 'Peptide', 'ID', 'core', 'icore', 'EL-score', 'EL_Rank',
       'BA-score', 'BA_Rank', 'Ave', 'NB'],
      dtype='object')
(41477, 11)

In [9]:
mt['BA-score'].describe()

count    41477.000000
mean         0.182192
std          0.220039
min          0.002000
25%          0.038200
50%          0.079200
75%          0.224200
max          0.954300
Name: BA-score, dtype: float64

In [11]:
mt['EL-score'].describe()

count    41477.000000
mean         0.080218
std          0.201630
min          0.000000
25%          0.000200
50%          0.001300
75%          0.019300
max          0.996900
Name: EL-score, dtype: float64

WES的文件下载信息

In [3]:
WES_meta=pd.read_csv('/work/longyh/BY/raw/SraRunTableWXS.csv')
patient_list=pd.read_csv('/work/longyh/BY/processed/s2_patient.txt',header=None,names=['Patient'])

In [4]:
WES_meta.head()

,Run,AGE,Assay Type,AssemblyName,AvgSpotLen,Bases,BIOMATERIAL_PROVIDER,BioProject,BioSample,BioSampleModel,...,Platform,race,ReleaseDate,Sample Name,sex,SRA Study,tissue,treatment,create_date,version
0,SRR5134744,49,WXS,GCA_000001405.13,152,23441626352,BMS,PRJNA359359,SAMN06190201,Human,...,ILLUMINA,WHITE,2018-01-19T00:00:00Z,Pt59_on,female,SRP095809,tumor,4 weeks post first nivolumab dose,2016-12-29T16:11:00Z,1.0
1,SRR5134745,50,WXS,GCA_000001405.13,152,8299812560,BMS,PRJNA359359,SAMN06190304,Human,...,ILLUMINA,WHITE,2018-01-19T00:00:00Z,Pt86_norm,female,SRP095809,peripherial blood,Matching peripherial blood for Pt86,2016-12-29T15:56:00Z,1.0
2,SRR5134746,71,WXS,GCA_000001405.13,152,22954406768,BMS,PRJNA359359,SAMN06190175,Human,...,ILLUMINA,WHITE,2018-01-19T00:00:00Z,Pt34_on,male,SRP095809,tumor,4 weeks post first nivolumab dose,2016-12-29T16:28:00Z,1.0
3,SRR5134747,64,WXS,GCA_000001405.13,152,6722541392,BMS,PRJNA359359,SAMN06190246,Human,...,ILLUMINA,WHITE,2018-01-19T00:00:00Z,Pt100_norm,male,SRP095809,peripherial blood,Matching peripherial blood for Pt100,2016-12-29T15:45:00Z,1.0
4,SRR5134748,67,WXS,GCA_000001405.13,152,21471768824,BMS,PRJNA359359,SAMN06190152,Human,...,ILLUMINA,WHITE,2018-01-19T00:00:00Z,Pt13_pre,male,SRP095809,tumor,pre nivolumab treatment,2016-12-29T16:09:00Z,1.0

In [5]:
patient_list.head()

  Patient
0     Pt1
1    Pt10
2   Pt100
3   Pt101
4   Pt102

In [6]:
WES_meta['Patient']=WES_meta['Sample Name'].str.split('_').str[0]

In [7]:
WES_meta_filtered=WES_meta[WES_meta['Patient'].isin(patient_list['Patient'])]

In [13]:
print(WES_meta.shape)
print(WES_meta_filtered.shape)
print(patient_list.shape)

(177, 36)
(136, 36)
(73, 1)

In [12]:
#过滤样本名带有_on后缀的
WES_meta_filtered=WES_meta_filtered[~WES_meta_filtered['Sample Name'].str.contains('_on')]

In [14]:
WES_meta_filtered.to_csv('/work/longyh/BY/processed/WES_meta_filtered.csv',index=False)

In [ ]:
WES_meta_filtered['Run'].to_csv('/work/longyh/BY/processed/WES_download_run_list.txt',index=False,header=False)